@using Api.Controllers;
@model CreateFootballerRequest
<h2>Создание футболиста</h2>
<form asp-controller="footballer">
    <p>
        <label asp-for="FirstName">Имя</label><br />
        <input id="firstName" type="text" asp-for="FirstName" required/>
    </p>
    <p>
        <label asp-for="LastName">Фамилия</label><br />
        <input id="lastName" type="text" asp-for="LastName" required />
    </p>
    <p>
        <label asp-for="Sex">Пол</label><br />
        <select id="sex" asp-for="Sex" asp-items="Html.GetEnumSelectList<Sex>()"></select>
    </p>
    <input type="date" id="birthday" asp-for="BirthdayDate"    />
    <p>
        <label asp-for="Country">Страна</label><br />
        <select asp-for="Country" id="country" asp-items="Html.GetEnumSelectList<Country>()"></select>
    </p>
    <p>
        <label asp-for="TeamName">Команда</label><br />
        <select asp-for="TeamName" id="teamName" onchange="toggleCustomTeamInput(this)">
        @foreach (var item in @ViewBag.Teams){
            <option value="@item.Name">@item.Name</option>
        }
        </select>
        </br>
        <input asp-for="CustomTeamName" id="customTeamName" placeholder="Новая команда:"     />
        <span asp-validation-for="@Model.TeamName" class="text-danger"></span>
        
    </p>
    <p>
        <input id="sendBtn" type="submit" value="Создать" disabled="disabled"/>
    </p>
</form>

@section Scripts {
            <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

            <script>
                var connection = new signalR.HubConnectionBuilder().withUrl("/hub").build();
                
                document.getElementById("sendBtn").addEventListener("click", function () {
                        let firstName = document.getElementById("firstName").value;
                        let lastName = document.getElementById("lastName").value;
                        let sex = document.getElementById("sex");
                        sex = sex.options[sex.selectedIndex].text
                        let birthday = document.getElementById("birthday").value;
                        let country = document.getElementById("country");
                        country = country.options[country.selectedIndex].text
                        let teamName = document.getElementById("teamName");
                        teamName = teamName.options[teamName.selectedIndex].text
                        let customTeamName = document.getElementById("customTeamName").value;
                        if (customTeamName !== ""){
                            teamName = customTeamName;
                        }
                        

                        
                        connection.invoke("Send", firstName, lastName, sex,
                                      birthday, country, teamName)
                        .catch(function (err) {
                            return console.error(err.toString());
                        });
                });

                connection.start()
                    .then(function () {
                        document.getElementById("sendBtn").disabled = false;
                    })
                    .catch(function (err) {
                        return console.error(err.toString());
                });
            </script>
}